@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat:ital,wght@0,300;1,600&display=swap');

 .skillContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
 }

 .skillsBgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://designpickle-resources.s3.us-east-2.amazonaws.com/2020/Zoom+Backgrounds/April/20_DesignPickle_Zoom_Background-1.jpg');
    background-size: cover;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    padding-left: 60px;
    
 }

 .skillContainer__image{
    flex: 0.4;
    text-align: center;
    margin-right: 100px;
    margin-bottom: 80px;
    
 }

 .skill_image{
   width: 250px;
   border-radius: 3px;
   height: 250px;
   border-radius: 20px;
 }

 .skill_image:hover{
   transform: scale(1.05);
 }

 .skills_text{
    flex: 0.6;
    color: #000;
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;
 }

 .skillContainer > h2{
   padding-bottom: 20px;
   background-color: teal;
   border-radius: 20px;
   
   padding: 10px;
   margin: 10px;
   color: #fff;
   font-size: 30px;
 }

 .skillContainer > h2:hover{
   background-color: transparent;
   border: 2px solid #fff;
 }
 .skillContainer__image {
   flex: 0.4;
   text-align: center;
   margin-right: 50px;
   align-items: center;
 
 }
 .skillContainer__image > img {
   width: 30vw;
   border-radius: 20px;
   object-fit: contain;
   margin-top: 100px;
   margin-bottom: 10px;
   margin-left: 150px !important;
 }
 .skillContainer__image :hover {
 
   color: orangered;
   font-size: 15px;
   border-radius: 40px;
   border: 2px solid black;
   padding: 0%;
   font-weight: 700;
   cursor: pointer;
 
   font-family: cursive;
   transform: scale(1.03);
   transition-duration: 0.1s;
 }
 .skillSet > h5{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    padding-bottom: 10px;
    padding-top: 20px;
 }

 .slider_skillContainer > .MuiLinearProgress-colorPrimary{
    background-color: rgb(88,88,88);
    
 }

 .progress1 .MuiLinearProgress-barColorPrimary {
   background-color: #64C5EB; 
}

.progress2 .MuiLinearProgress-barColorPrimary {
   background-color: #64C5EB; 
}

.progress3 .MuiLinearProgress-barColorPrimary {
   background-color:#64C5EB ; 
}

.progress4 .MuiLinearProgress-barColorPrimary {
   background-color: #64C5EB; 
}

.progress5 .MuiLinearProgress-barColorPrimary {
   background-color: #64C5EB; 
}

.progress6 .MuiLinearProgress-barColorPrimary {
   background-color: #64C5EB; 
}

.progress7 .MuiLinearProgress-barColorPrimary {
   background-color: #64C5EB; 
}


 @media screen and (max-width: 576px){
   .skillContainer > h2{
      font-size: 20px;
   }
   .skillsBgContainer{
      flex-direction: column;
   }
   .skill_image{
      width: 200px;
      height: 200px;
      margin-left: 80px;
      
    }
    .skillSet > h5{
      font-weight: bold;
      padding-bottom: 10px;
      padding-top: 20px;
      font-size: 12px;
   }
   .slider_skillContainer > .MuiLinearProgress-colorPrimary{
      background-color: rgb(88,88,88);
      width: 50vw;
      
   }
   .skillContainer__image {
      /* Your existing styles */
      position: absolute;
      top: 0;
      left: 34%;
      transform: translateX(-50%);
      margin-top: 500px;
      border-radius: 20px;
  
  
  
  
  
  
    }
    .skillContainer__image :hover {
      border: none;
  
    }
    .skillContainer__image > img{
      height:650px;
      width: 50vw;
      border: none;
  
  
    }
   
 }